<h1>REGISTERR</h1>

<form action="/register"  method="POST">
	<div>
		<label for="name">NAME</label>
		<input type="text" id="name" name="name" required>
	</div>
	<br>
	<div>
		<label for="email">EMAIL</label>
		<input type="email" id="email" name="email" required>
	</div>
	<br>
	<div>
		<label for="password">PASSWORD</label>
		<input type="password" id="PASSWORD" name="password" required>
	</div>
	<br>
<button type="submit">REGISTER</BUTTON>

</form>

<a href="/login">LOGIN</a>